{#Lier la vue au template de page #}

{% extends "@App/Default/base.html.twig" %}


{% block content %}
    <section class="article2">


        <article class="apercu2">

            <h2>Entrez nouvel auteur</h2>


            {{ form_start(formAuteur, {'attr': {id:'appbundle_livre'}}) }}

            <div class="f_type">
                {{ form_errors(formAuteur.f_name) }}
                {{ form_label(formAuteur.f_name) }}
                {{ form_widget(formAuteur.f_name, {'attr': {"class":'title'}}) }}
            </div>
            <div class="f_type">
                {{ form_errors(formAuteur.l_name) }}
                {{ form_label(formAuteur.l_name) }}
                {{ form_widget(formAuteur.l_name, {'attr': {"class":'title'}}) }}
            </div>

            <div class="f_type">
                {{ form_errors(formAuteur.bio) }}
                {{ form_label(formAuteur.bio) }}
                {{ form_widget(formAuteur.bio, {'attr': {"class":'bio'}}) }}
            </div>

            <div class="f_type">
                {{ form_errors(formAuteur.birthdate) }}
                {{ form_label(formAuteur.birthdate) }}
                {{ form_widget(formAuteur.birthdate, {'attr': {"class":'birthdate'}}) }}
            </div>
            <div class="f_type">
                {{ form_label(formAuteur.deathdate) }}
                {{ form_widget(formAuteur.deathdate, {'attr': {"class":'deathdate'}}) }}
            </div>
            <div class="f_type">
                {{ form_errors(formAuteur.country) }}
                {{ form_label(formAuteur.country) }}
                {{ form_widget(formAuteur.country, {'attr': {"class":'country'}}) }}
            </div>
            <div class="f_type">

                {{ form_widget(formAuteur.submit, { 'label': 'soumettre' },{'attr': {"class":'submit'} }) }}
            </div>


            {#{{ form_label(formLivre.auteur) }}#}
            {#{{ form_widget(formLivre.auteur) }}#}
            {{ form_end(formAuteur) }}




        </article>


    </section>
{% endblock %}